<meta charset = "utf-8"/>
<title><%=title%></title>
<link href = "/static/css/style.css" rel = "stylesheet" type = "text/css"/>
<link href = "/static/img/favicon.png" rel = "icon" type = "image/x-icon"/>