<html>
	<head>
		<%-include("../partials/header.ejs", {title: "Sample Fastify 500 Page"})%>
	</head>
	<body>
		500 INTERNAL SERVER ERROR: <code><%=error.message%></code><br/>
		<br/>
		IF YOU SEE THIS MESSAGE, PLEASE CONTACT THE DEVELOPER.
	</body>
</html>